body {
  background-color: #7fd3f7;
  font-family: "Noto Sans KR", sans-serif;
}

#wrap {
  width: 1024px;
  margin: auto;
  box-sizing: border-box;
  padding: 50px 50px;
  color: white;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

#container {
  width: 530px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  div {
    width: 90px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
